@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
    //font-family: 'Inter', sans-serif;
    font-family: 'Urbanist', sans-serif;
   // background: #F5F8FD;
}

.nav-link {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-transform: uppercase;

    margin-inline: 5px;
}

.nav-line {
    margin-bottom: 21px;
    margin-left: 14px;
    height: 3px;
    width: 0px;
    display: flex;
    position: absolute;
}

.nav-link:hover+.nav-line {
    width: 25px;
}

@media (max-width: 1200px) {
    .nav-line {
        margin-bottom: 0;
        display: flex;
        margin-left: auto;
        margin-right: 6px;
        position: relative;
    }

    .nav-link:focus+.nav-line {
        width: 25px;
    }
}

//element with classname mobile-logo : hide when width is more than 1200px 
.mobile-logo {
    display: none;
}

.desktop-logo {
    display: block;
}

@media (max-width: 1200px) {
    .mobile-logo {
        display: block;
    }

    .desktop-logo {
        display: none;
    }
}

//only on mobile (when less than 1200px) mobile-list should have margin top of 20px
@media (max-width: 1200px) {
    .mobile-nav-list {
        margin-top: 21px;
        text-align: right;
    }

    .mobile-cta-button {
        display: flex;
        margin-top: 21px;
        margin-left: auto;
    }
}

.hero-title, .alert-title {
    color: rgb(5, 68, 104);
    font-weight: 600;
    line-height: 76.8px;
    font-size: 3.75rem;
}
.alert-title {
    font-size: 44px;
}

//when we're on mobile, hero title size becomes 34px
@media (max-width: 1200px) {
    .hero-title, .alert-title {
        font-size: 36px;
        line-height: 120%;
        margin-top: 30px;
    }
    .alert-title {
        font-size: 31px;
        margin-top: 40px;

    }
   
}

.hero-description ,.alert-description{
    color: rgb(113, 131, 165);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}



//on mobile, hero description size becomes 18px
@media (max-width: 1200px) {
    .hero-description, .alert-description{
        font-weight: 500;
font-size: 16px;
line-height: 150%;
    }
    .alert-description{
margin-top: 20px;
    }
    .hero-button-mobile{
       // margin-top: -5px;
    
    }
    .hero-section-mobile{
        height:750px;
    }
    .alert-section-mobile{
        height: 750px;
        flex-direction: column;
        }
}


.alert-form-select{
    padding: 11px;
    font-size: 14px;
    color: rgba(113, 131, 165, 1);
    border-radius: 12px;

}
.alert-form-select-label {
    color: rgba(113, 131, 165, 1)

}

.guide-numbering{
font-weight: 800;
font-size: 100px;
line-height: 120px;
font-feature-settings: 'liga' off;
color: #DFEEFF;
width: 95px;
margin-left: -20px;
margin-right: 20px;

}

//when we're on mobile, guide numberinr size becomes 50 
@media (max-width: 1200px) {
    .guide-numbering{
        font-size: 50px;
        line-height: 60px;
        width: 50px;
        margin-left: -10px;
        margin-right: 10px;
        margin-bottom: -17px;
    }
}

.guide-description{
    margin-top: -22px;
    margin-left: 80px;
    max-width: 500px;
    color: rgb(113, 131, 165);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

@media (max-width: 1200px) {
    .guide-description{
        margin-top: 27px;
        margin-left: 39px;
        font-size: 22px;

    }
    .guide-section{
        flex-direction: column!important;
    }
}


.testimonials{
    background-image : url('./assets/images/testimonials-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;


}

.footer-slogan{
    font-weight: 500;
font-size: 20px;
line-height: 161%;
color: #FFFFFF;
}

.footer-links-title{
    border-bottom-width: 3px;
    border-color: green;
    width: 25px;
    white-space: nowrap;
    font-size: 24px;
    line-height: 120%;
    color: white;
    padding-bottom: 13px;
    margin-bottom: 20px;
}

.footer-link{
    font-family: 'Urbanist';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 140%;
/* or 25px */
max-width: 250px;
padding-block: 10px;
color: #FFFFFF;
}

.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    max-width: 1200px;
    border-bottom: 1px solid white;
    padding-bottom: 35px;
}

.cart-shadow{
    position: absolute;
    right: 12%;
    left: 70%;
    width: 90%;
    max-width: 470px;
    margin: 266px -152px auto auto;
    mix-blend-mode: multiply;
}

.cart{
    position: absolute;
    right: 5%;
    left: 67%;
    width: 90%;
    max-width: 400px;
    margin: 120px auto auto;
}

@media (max-width: 1200px) {
    .cart{
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 201px;
    margin: 288px auto auto;
    }
   .cart-shadow {
    right: 50%;
    left: 50%;
        max-width: 205px;
    margin: 383px -122px auto auto;
   }
   .footer-wrapper{
    flex-direction: column;
    height: 1250px;
    width: fit-content;
    margin: auto;
    
   }
}
.footer-column{
    min-width: 200px;
}
//if screen size is more than 2000 px, cart shadow right becomes 14%
@media (min-width: 2000px) {
    .cart-shadow{
        right: 14%;
    }
}
@media (min-width: 3000px) {
    .cart-shadow{
        right: 16%;
    }
}

@media (max-width: 600px) {
    .cart{
    margin: 328px auto auto;
    }
   .cart-shadow {
    margin: 423px -122px auto auto;
   }
}
